.photo-grid {
    margin: 0;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 92px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    box-sizing: border-box;
    gap: 16px;
    list-style-type: none;
  }
  @media screen and (max-width: 1024px) {
    .photo-grid{
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 14px;
      padding-left: 48px;
      padding-right: 48px;
    }
  }
  @media screen and (max-width: 720px) {
    .photo-grid{
      grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
      padding-left: 24px;
      padding-right: 24px;
      gap: 14px;
      padding-top: 88px;
    }
  }
  @media screen and (max-width: 320px) {
    .photo-grid{
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
      gap: 12px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 64px;
    }
  }
