.website__url-heading {
    color: #aaaaaa;
    margin: 0;
    padding-bottom: 12px;
  }
  @media screen and (max-width: 768px) {
    .website__url-heading {
      padding-top: 46px;
    }
  }

  @media screen and (max-width: 320px) {
    .website__url-heading {
      padding-top: 32px;


    }
  }
